@import "../../../styles/variables";

.header {
  padding: $base-offset;
  background-color: $cl-light-gray;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 4px 0px rgba($cl-black, 0.5);
  height: $header-height;
  box-sizing: border-box;

  &__title {
    margin: 0;
  }

  &__view-mode {
    margin-left: 90px;
  }
}
