// Colors

$cl-yellow: #FFD900;
$cl-green: #00CC00;
$cl-red: #FF2C00;
$cl-black: #070B0E;
$cl-white: #FFFFFF;
$cl-light-gray: #FAFAFA;

$filters-width: 250px;
$header-height: 70px;
$base-offset: 25px;
