<ng-container *ngIf="courses$ | async; let courses; else noData">
  <mat-sidenav-container class="main" [hasBackdrop]="true">

    <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true" class="main__sidenav">
      <app-course-details *ngIf="selectedCourse" [course]="selectedCourse"></app-course-details>
    </mat-sidenav>

    <mat-sidenav-content class="main__content">
      <mat-toolbar class="main__toolbar">
        <mat-toolbar-row>
          <h1>FRONTEND BOOTCAMP</h1>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <app-category-select></app-category-select>
        </mat-toolbar-row>
      </mat-toolbar>

      <app-courses-list class="main__courses" [courses]="courses" (courseSelect)="onCourseSelect($event)">
      </app-courses-list>
    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>

<ng-template #noData>
  Oops, something went wrong
</ng-template>
