.main {
  height: 100%;
  min-width: 1500px;

  &__sidenav {
    width: 50%;
    min-width: 300px;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__courses {
    padding: 25px;
  }
}
