.main {
  height: 100%;

  &__sidenav {
    width: 50%;
    min-width: 300px;
  }

  &__toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__filters {
    display: flex;
    justify-content: center;
  }

  &__courses {
    padding: 25px;
  }
}
