<ng-container *ngIf="courses$ | async; let courses; else noData">
  <mat-sidenav-container class="main" [hasBackdrop]="true">

    <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true" class="main__sidenav">
      <app-course-details *ngIf="selectedCourse" [course]="selectedCourse"></app-course-details>
    </mat-sidenav>

    <mat-sidenav-content class="main__content">
      <app-header class="main__header"></app-header>

      <app-courses class="main__courses" [courses]="courses" (courseSelect)="onCourseSelected($event)"></app-courses>
    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>

<ng-template #noData>
  Oops, something went wrong
</ng-template>
