<ng-container *ngIf="data$ | async; let data; else noData">
  <mat-sidenav-container class="main" [hasBackdrop]="true">

    <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true" class="main__sidenav">
      <app-course-details *ngIf="selectedCourse" [course]="selectedCourse"></app-course-details>
    </mat-sidenav>

    <mat-sidenav-content class="main__content">
      <app-header class="main__header" [view]="selectedView" (viewChange)="onViewChanged($event)"></app-header>

      <container-element [ngSwitch]="selectedView">
        <app-track *ngSwitchCase="view.TRACK" (courseSelect)="onCourseSelected($event)" [courses]="data.courses"
          [track]="data.track"></app-track>
        <app-courses *ngSwitchCase="view.COURSES" [courses]="data.courses" (courseSelect)="onCourseSelected($event)">
        </app-courses>
      </container-element>

    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>

<ng-template #noData>
  Oops, something went wrong
</ng-template>
