<div class="track">
  <ngx-graph [draggingEnabled]="false" [links]="track" [nodes]="nodes" [autoZoom]="true" [autoCenter]="true">
    <ng-template #nodeTemplate let-node>
      <svg:g xmlns="http://www.w3.org/2000/xhtml" width="180" height="180">
        <svg:foreignObject width="180" height="180">
          <xhtml:div xmlns="http://www.w3.org/1999/xhtml" class="track__node">
            <ng-container *ngIf="getCourseById(node.id); let course">
              <app-course-card [course]="course" (click)="onSelect(course)"></app-course-card>
            </ng-container>
          </xhtml:div>
        </svg:foreignObject>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>
